footer {
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background: #3b3b3b;
    color: #e7e7e7;
    font-size: 120%;
}