footer {
    position: fixed;
    bottom: 0;
    margin: 0; 
    height: 8vmax;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3b3b3b;
    color: #e7e7e7;
    font-size: 120%;
    opacity: 0.85;
}

.footer-links {
    color:rgb(255, 249, 239); 
    font-size: 1.2rem;
    /* margin: 10px 7px 7px 7px; */
    margin: 1%;
    /* padding: 5px; */
    opacity: 0.8;
    /* opacity: 0.95; */
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
/* 
.hide {
    display: none;
} */