header {
    background: none;
    /* height: 8vmax; */
    height: 15%;
    /* font-size: 120%; */
    /* box-shadow: 1px 1px 10px 5px dimgray; */
}

nav {
    display: flex;
    /* justify-content: flex-start; */
    flex-flow: column nowrap;
}

ul {
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 0.25rem;
}

li {
    color: #e7e7e7;
    font-size: 120%;
    font-weight: bold;
}

.brand-div {
    font-size: 175%;
    text-align: left;
    padding: 1rem;
    text-decoration: none;
}

.brand-btn {
    background: none;
    color: #e7e7e7;
}

/* why doesn't this work? */
/* (because it wasn't wrapped in another element) */
Link {
    color: #e7e7e7;
    text-decoration: none;
}